<h2 class="text-center"><%= current_user.username %></h2>
<div class="container">
  <div class="row">
    <% @soc_networks.each do |item| %>
    <div class="col-md-4">
      <div id="soc_network_<%= item.id %>">
        <%= render 'soc_network_partial',soc_network: item %>
      </div>  
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3 class="text-center">Top Users</h3>
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Insta</th>
            <th>Telegram</th>
            <th>Facebook</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <% @soc_networks.each do |item| %>
            <td><%= user.invited_users.where(:status => "confirmed", :soc_network_id => item.id).size %></td>
            <% end %>
            <td><%= user.invited_users.where(:status => "confirmed").size %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>